<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="testng.metrics.report.logo" value = "..\\src\\test\\resources\\data\\iCollect_logo.png"/>
	<parameter name="testng.metrics.report.name" value = "regression.html"/>
	<parameter name="testng.metrics.report.appendTimestamp" value = "True"/>

  <test name="Test">
    <classes>
      <class name="testing.TestingReport"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
